<!DOCTYPE html>
<html>
<head><title>Zerodha Trader</title></head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body>
  <h1>Welcome to Zerodha Auto Trader</h1>
  <a href="/login"><button>Login to Zerodha</button></a>


  <form action="/set_credentials" method="POST">
      <input type="text" name="api_key" placeholder="API Key">
      <input type="text" name="api_secret" placeholder="API Secret">
      <button type="submit">Submit</button>
  </form>


  <h2>Trigger Sheet-Based Orders</h2>
  <a href="/trigger-sheet-orders"><button>Trigger normal Orders from Sheet</button></a>

  <a href="/trigger-gtt-orders"><button>Trigger GTT orders  from Sheet</button></a>
</body>
</html>
